// Media Queries
$mq-smallScreen: "only screen and (min-width:767px)";
$mq-mediumScreen: "only screen and (min-width:768px)";
$mq-largeScreen: "only screen and (min-width:1025px)";
$mq-xLargeScreen: "only screen and (min-width:1200px)";
$mq-xxLargeScreen: "only screen and (min-width:1400px)";
