[data-theme="light-theme"] {
  .dropdown {
    --select-color: var(--nv-color-base-blue-500);
    --select-border: 1px solid var(--nv-color-base-green-200);
    --disabled-background-color: transparent;
    --disabled-color: var(--nv-color-base-gray-300);
    --disabled-svg-color: var(--nv-color-base-gray-300);
    &-content {
      --dropdown-color: var(--nv-color-base-blue-500);
      --dropdown-border: 1px solid var(--nv-color-base-green-200);
      --dropdown-hover: var(--nv-color-base-blue-100-opacity-25);
    }
  }
}
[data-theme="dark-theme"] {
  .dropdown {
    --select-color: var(--nv-color-base-green-100);
    --select-border: 1px solid var(--nv-color-base-green-100);
    --disabled-background-color: var(--nv-color-base-gray-200);
    --disabled-color: var(--nv-background-color);
    --disabled-svg-color: var(--nv-background-color);
    &-content {
      --dropdown-color: var(--nv-color-base-green-100);
      --dropdown-border: 1px solid var(--nv-color-base-green-100);
      --dropdown-hover: var(--nv-color-base-blue-100);
    }
  }
}
.dropdown {
  border: var(--select-border);
  color: var(--select-color);
  border-radius: var(--nv-radii-base);
  padding: 5px 10px;
  min-width: 250px;
  display: flex;
  justify-content: space-between;
  svg {
    margin-top: 4px;
    color: var(--nv-color-base-green-200);
  }
  &-error {
    border: 1px solid var(--nv-color-base-red-300);
  }
  &-content {
    overflow: hidden;
    border-radius: var(--nv-radii-base);
    margin-left: -10px;
    border: var(--dropdown-border);
    background-color: var(--nv-background-color);
    color: var(--nv-elements-color);
    &-selectItem {
      padding: 5px;
      svg {
        margin-inline-start: 5px;
      }
      &[data-highlighted] {
        outline: none;
        background-color: var(--dropdown-hover);
        color: var(--nv-elements-color);
      }
    }
  }
  &[data-disabled] {
    border: 1px solid var(--nv-color-base-gray-200);
    color: var(--disabled-color);
    background-color: var(--disabled-background-color);
    cursor: not-allowed;
    svg {
      color: var(--disabled-svg-color);
    }
  }
  &-viewport {
    padding: 10px;
  }
}
