@use "../abstracts/variables" as *;
.gallery {
  max-width: min(80vw, 1475px);
  margin: 0 auto;
  &-header {
    margin: 20px 0px 60px;
    &-row {
      display: flex;
      justify-content: space-between;
    }
  }
  &-cards {
    display: flex;
    flex-direction: column;
    gap: 110px;
    padding-top: 110px;
    @media #{$mq-mediumScreen} {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 40px;
      padding-top: 0px;
    }
  }
  &-background {
    height: 300px;
  }
}
