[data-theme="light-theme"] {
  --toggle-background: var(--nv-color-base-green-200);
  --toggle-background-checked: var(--nv-color-base-blue-500);
  --toggle-disabled: var(--nv-color-base-gray-200);
}
[data-theme="dark-theme"] {
  --toggle-background: var(--nv-color-base-red-100);
  --toggle-background-checked: var(--nv-color-base-blue-100);
  --toggle-disabled: var(--nv-color-base-blue-100-opacity-25);
}
.switch {
  display: flex;
  align-items: center;
  &-label {
    user-select: none;
    margin-inline-end: 10px;
  }
  &-root {
    width: 50px;
    height: 24px;
    background-color: var(--toggle-background);
    border-radius: 30px;
    position: relative;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  &-root[data-state="checked"] {
    background-color: var(--toggle-background-checked);
  }
  &-root[data-disabled] {
    background-color: var(--toggle-disabled);
  }
  &-thumb {
    display: block;
    width: 14px;
    height: 14px;
    background-color: var(--nv-background-color);
    border-radius: 50%;
    transition: transform 100ms;
    transform: translateX(5px);
    will-change: transform;
  }
  &-thumb[data-state="checked"] {
    transform: translateX(31px);
  }
}
