[data-theme="light-theme"] {
  --accordian-text-color: var(--nv-elements-color-light-accent);
}
[data-theme="dark-theme"] {
  --accordian-text-color: var(--nv-elements-color-dark-accent);
}

.accordion-root {
  display: flex;
  flex-direction: column;

  .accordion-item {
    border-bottom: 2px solid var(--nv-color-base-blue-100);
    padding: 10px 0 5px;
    overflow: scroll;
    h3 {
      color: var(--accordian-text-color);
    }
    &[data-state="closed"] > h3::after {
      content: " +";
    }
    &[data-state="open"] > h3::after {
      content: " -";
    }
  }

}